@import url('https://fonts.googleapis.com/css?family=Caveat|Work+Sans&display=swap');

.imageHero{
  padding-top:10rem;
  padding-right: 4rem;
}

.imageHero img{
  height: 300px;
}
.App-header{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-left:8rem;
  font-family: 'Work Sans', sans-serif;
}
.Nav{
  display: flex;
  flex-direction: row;
}
.hero{
  font-size:48px;
  margin-bottom: 2rem;
  margin-left: 8rem;
  font-family: 'Caveat', cursive;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color:#212121;
}

.buttonsHolder{
  margin-left:auto;
  margin-top: 48px;
  margin-right: 4rem;
}

.intro{
  margin-bottom:0px;
}
.info{
  margin-bottom: 0px;
  max-width: 80%;
  line-height: 1.5;
}

.homeButton{
  margin-top:48px;
  font-size: 13px;
  color: #474747;
  font-weight: 600;
  padding-bottom:4px;
  padding-left:4px;
  padding-right:4px;
  margin-right: 32px;
  text-decoration: none;
  border-bottom: 2px solid #797979;
}
.email{
  color:#065a6d;
}
.pdflink{
  text-decoration: none;
  color:hsl(0, 0%, 16%);
}
.IMIwork{
  background-color: #d7efee;
  padding:8px 16px;
  max-width: 80%;
  border-radius: 4px;
  margin-top:24px;
  
  font-size:15px;
}
@media screen and (max-width:1023px){
  .App-header{
    flex-direction: column;
    margin-top: 10%;
    margin-left:10%;
    margin-right:10%;
  }
  .imageHero {
    display: none;
  }
  .App-header h1{
    margin-bottom: 0px;
  }
  .buttonsHolder{
    margin-bottom: 24px;
  }
  .info{
    max-width: 95%;
  }
}
@media screen and (max-width:1280px){
  .imageHero img{
    width: 268px;
  }
}